.git
.github/*
!.github/bootstrap
.github/bootstrap/*
!.github/bootstrap/poetry-requirements.txt
.venv
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
tests
dist
.env
.env.*
docker-compose*.yml
docs
